[Unit]
Description=rWCHC Simple Daemon

[Service]
Type=dbus
BusName=org.slashdirt.rwchcd
ExecStart=/usr/sbin/rwchcd
ExecStopPost=/bin/sleep 10
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
