$def with (formmode)
<html>
 <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réglages Circuit</title>
  </head>
  <body>
    <h1>Réglages Circuit</h1>
    <form method="post">
	$if not formmode.valid: <p>Erreur!</p>
	$:formmode.render()
	<input type="submit" />
    </form>
    <p>Note: l'ajustement s'applique en plus ou en moins des températures grisées.
	Ce réglage est temporaire et n'est pas préservé en cas de redémarrage du système.</p>
    <p><a href=".">Contrôle</a></p>
    <p><a href="/">Accueil</a></p>
  </body>
</html>

