$def with (formmode)
<!doctype html>
<html>
 <head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Réglages Circuit</title>
  </head>
  <body>
    <div class="container mt-3">
    <h1>Réglages Circuit</h1>
    <form method="post">
	$if not formmode.valid: <p class="text-danger"><strong>Erreur!</strong></p>
	$:formmode.render_css()
	<div class="mb-3">
	<input type="submit" class="btn btn-primary"/>
	</div>
    </form>
    <p>Note: l'ajustement s'applique en plus ou en moins des températures grisées.
	Ce réglage est temporaire et n'est pas préservé en cas de redémarrage du système.</p>
    <p><a href=".">Contrôle</a></p>
    <p><a href="/">Accueil</a></p>
    </div>
  </body>
</html>

