$def with (formt, formrm)
$var title: Réglages Circuit
<h1>Réglages Circuit</h1>
<form method="post">
$if (not formt.valid) or (formrm and not formrm.valid): <p class="text-danger"><strong>Erreur!</strong></p>
$:formt.render_css()
$if formrm:
  $:formrm.render_css()
<div class="mb-3">
<input type="submit" value="Valider" class="btn btn-primary"/>
</div>
</form>
<p>Note: l'ajustement s'applique en plus ou en moins des températures grisées.<br/>
Les modifications effectuées ici sont temporaires et ne sont pas préservées en cas de redémarrage du système.</p>

