$def with (formmode, outtemp)
<html>
 <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrôle Chauffage Maison</title>
  </head>
  <body>
    <h1>Contrôle chauffage maison</h1>
    <h2>Température extérieure: $outtemp °C</h2>
    <form method="post">
	$if not formmode.valid: <p>Erreur!</p>
	$:formmode.render()
	<input type="submit" />
    </form>
    <p><a href="temps">Réglage températures ambiantes</a></p>
    <p><a href="outhoffs">Réglage températures de non-chauffage</a></p>
    <p><a href="/">Accueil</a></p>
  </body>
</html>

