$def with (data)
$var title: Contrôle Général
<h1>Contrôle Général</h1>

<p>
<ul class="list-group">
$for (tname, tval) in data["temps"]:
  <li class="list-group-item d-flex justify-content-between align-items-center">$tname <span class="badge bg-primary rounded-pill">$tval °C</span></li>
</ul>
</p>

$for d in (data["hcircuits"], data["dhwts"]):
  <p>
  <ul class="list-group">
  $for (name, mode, override) in d:
    $ bg = "bg-warning" if override else "bg-primary"
    <li class="list-group-item d-flex justify-content-between align-items-center">$name <span class="badge $bg rounded-pill">$mode</span></li>
  </ul>
  </p>

$if data["forms"]:
  <form method="post">
  $for form in data["forms"]:
	  $if not form.valid:
	    <p class="text-danger"><strong>Erreur!</strong></p>
	    $break
  $for form in data["forms"]:
    $:form.render_css()
  <div class="mb-3">
  <input type="submit" value="Valider" class="btn btn-primary"/>
  </div>
  </form>

