$def with (data)
$var title: $data["title"] $data["name"]
<h1>$data["title"]</h1>
<p></p>
<h3>$data["name"]</h3>
<p>
<ul class="list-group">
$for (tname, tval) in data["temps"]:
  <li class="list-group-item d-flex justify-content-between align-items-center">$tname <span class="badge bg-primary rounded-pill">$tval °C</span></li>
</ul>
</p>

<form method="post">
$for form in data["forms"]:
  $if not form.valid:
    <p class="text-danger"><strong>Erreur!</strong></p>
    $break
$for form in data["forms"]:
  $:form.render_css()
<div class="mb-3">
<input type="submit" value="Valider" class="btn btn-primary"/>
</div>
</form>
<p>Note: Les modifications effectuées ici ne sont pas préservées en cas de redémarrage du système (ex: coupure de courant).</p>

